<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Get User Media Code Along!</title>

</head>
<body>

<div id="challenge20">
  <div class="words" contenteditable>
  </div>

</div>

<script>

window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;

</script>

</body>
</html>
