<!DOCTYPE html>
<html>
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dropzone simple example</title>

  </head>

  <body>

    <div id="dropZone">
      <p id="title">DROPZONE</p>
      <p><span id="fileNameInput">Drag & drop any type of file</span><span id="fileUploaded"></span></p>
      <div id="gif"></div>
    </div>
    <br>

    <div>
      <strong><span id="findTotal"></span> files on the server</strong>
      <span class="tooltiptext">(Upload can take up to 1 minute)</span>
    </div>
    <br>
    <div id="fetched">Fetch all your files (20)</div>
    <br>
    <div id="download">

    </div>
    <br>
    <p>You can also upload a picture to display it below </p>
    <div id="displayImg"></div>


  </body>
</html>







<script>
const dropZone = document.getElementById('dropZone');
const fileNameInput = document.getElementById('fileNameInput');
const pause = document.getElementById('pause');
const fileUploaded = document.getElementById('fileUploaded');
const download = document.getElementById('download');
const fetched = document.getElementById('fetched');
const findTotal = document.getElementById('findTotal');
const btn = document.getElementById('btn');
const gif = document.getElementById('gif');


fetch(`http://hapi.fhir.org/baseDstu3/Binary`)
  .then(response => response.json())
  .then((data) => {
    findTotal.insertAdjacentHTML('beforeend', `${data.total}`);
  });

dropZone.addEventListener('dragover', function(e) {
    e.stopPropagation();
    e.preventDefault();
    e.dataTransfer.dropEffect = 'copy';
});

dropZone.addEventListener('drop', function(e) {
    e.stopPropagation();
    e.preventDefault();
    var files = e.dataTransfer.files;

    const fileName = files[0].name;

    displayImg.innerHTML = ""
    fileNameInput.innerHTML = ""
    fileNameInput.insertAdjacentHTML('beforeend', `${fileName}`);
    gif.innerHTML = ""
    gif.insertAdjacentHTML(
      'beforeend',
      `<%= image_tag "oneloop.gif", class:"gifImg"%>`)
    const gifImg = document.querySelector('.gifImg')
    gifImg.src = gifImg.src.replace(/\?.*$/,"")+"?x="+Math.random();

    fetch('https://fhirtest.uhn.ca/baseDstu3/Binary', { method: 'POST', body: files[0] })
      .then(response => response.json())
      .then((data) => {
        fileUploaded.innerHTML = ""
        fileUploaded.insertAdjacentHTML('beforeend', " - <strong>File uploaded !</strong>")
         fetch(`http://hapi.fhir.org/baseDstu3/Binary`)
          .then(response => response.json())
          .then((data) => {
            findTotal.innerHTML = ""
            findTotal.insertAdjacentHTML('beforeend', `${data.total}`);
          });
      });

      for (var i=0, file; file=files[i]; i++) {
        if (file.type.match(/image.*/)) {
          var reader = new FileReader();

          reader.onload = function(e2) {
            // finished reading file data.
            const img = document.createElement('img');
            const displayImg = document.getElementById('displayImg');
            img.src = e2.target.result;
            displayImg.innerHTML = ""
            displayImg.appendChild(img);
          }

          reader.readAsDataURL(file);
        }
    }

});

window.setInterval(function(){
  fetch(`http://hapi.fhir.org/baseDstu3/Binary`)
    .then(response => response.json())
    .then((data) => {
      findTotal.innerHTML = ""
      findTotal.insertAdjacentHTML('beforeend', `${data.total}`);
    });
}, 1000);


fetched.addEventListener('click', function(e) {
  fetch(`http://hapi.fhir.org/baseDstu3/Binary`)
    .then(response => response.json())
    .then((data) => {
      const files = data.entry
      download.innerHTML = ""
      start = 0
      files.forEach(function(i) {
        // console.log(i)
        start ++
        download.insertAdjacentHTML(
          'beforeend',
          `<div class="${i.resource.id}">
            <a href="${i.fullUrl}">${start} - Download</a>
          </div>`)
        console.log(i.fullUrl)
        console.log(i)
      })
      });
});


</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Open+Sans');

/*Dropzone*/
#dropZone {
  width: 70%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #FF0000;
  border-radius: 10px;
  transition: all 1s ease;
  box-shadow: 0 2px 15px 0 rgba(0,0,0,0.4);
  margin: 20px;
  background-color: white;
}

#dropZone:hover {
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.5);
}

#title {
  font-weight: 900;
  font-size: 32px;
}

#descr {
  font-weight: 400;
}

#gif img {
  width: 150px;

}


/*Download file*/
#fetched {
  border-radius: 25px;
  font-family: "Montserrat";
  color: white;
  border: none;
  padding: 10px 20px;
  background: linear-gradient(135deg, #ef7070 0%, #FF0000 100%);
  transition: all 1s ease;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.4);
  font-size: 14px;
}

#fetched:hover {
  background: linear-gradient(135deg, #FF0000 0%, #B22222 100%);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4);
}

#download {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
}

#download div {
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
}

#download div a {
  color: white;
}

/* Image */
#displayImg {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#displayImg img {
  width: 80%;
}

.tooltiptext {
  font-size: 12px;
}




/*Global*/
body {
  font-family: "Montserrat";
  min-height: 100vh;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  padding: 50px 0px 50px 0px;
  background: linear-gradient(135deg, #ef7070 0%, #FF0000 100%);
}

</style>
